/* This style applies to all elements*/
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	font-family: 'Mirza', cursive;
}

/*Base Style*/
	body{
		background-color: white;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.wrapper{
		width: 80%;
		margin: 0 auto;
		padding: 5px;
		box-shadow: 4px 0 12px -2px 
		#424242, -4px 0 4px -2px #424242; 
		-moz-box-shadow: 4px 0 12px -2px 
		#424242, -4px 0 4px -2px #424242; 
		-webkit-box-shadow: 4px 0 12px -2px 
		#424242, -4px 0 4px -2px #424242; 
		-o-box-shadow: 4px 0 12px -2px 
		#424242, -4px 0 4px -4px #424242; 
	}

	hr {
		display: block;
		position: relative;
		margin: 8px auto;
		width: 100%;
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #ffffff;
	}

	.header{
		width: 100%;
		height: 200px;
		padding: 5px;
		background-color: white;
		margin-bottom: 10px;	
	}

	h1{
		font-size: 22px;
		margin-bottom: 10px;		
	}

	h2{
		font-size: 22px;
		margin-bottom: 12px;
	}

	.nav li{
		list-style: none;
		float: left;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 14px;
		padding: 5px;
	}

	a:link, a:visited{
		text-decoration: none;
		background-color: #FF8811;
		color: #FFFFFF;
		text-align: center;
		padding: 5px;
	}

	.logo{
		width: 110px;
		height: 150px;
		margin-bottom: 10px;	
		float: right;
	}

	.slider{
		width: 100%;
		height: 300px;
		padding: 5px;
		clear: both;
		margin-bottom: 10px;
		background-image: url("taj.jpg");
	}

	.about{
		width: 70%;
		height: 300px;
		font-size: 14px;
		margin-bottom: 10px;		
		color: black;
		padding: 5px;
		float: left;
		overflow: hidden;
		background-color: white;
	}

	.sidebar{
		width: 30%;
		height: 300px;
		padding: 10px;
		float: right;
		font-size: 14px;
		margin-bottom: 10px;
		background-color: white;
		color: black;
		overflow: hidden;
	}

	p{
		margin-bottom: 15px;
		text-align: justify;
	}

	.footer{
		width: 100%;
		height: 100px;
		padding: 5px;
		overflow: hidden;
		clear: both;
		font-size: 14px;
	
	.row{
		width: 100%;
	}

/* Media Queries - For Large Devices*/
	@media (min-width: 1170px){
		.col-lg-1, .col-lg-2,.col-lg-3, .col-lg-4,	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
		.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12

		{float: left;
		border: 2px solid red;}

		.col-lg-1{width:8.33%;} .col-lg-2{width:16.66%;} .col-lg-3{width:25%;} .col-lg-4{width:33.33%;}
		.col-lg-5{width:41.66%;} .col-lg-6{width:50%;} .col-lg-7{width:58.33%;} .col-lg-8{width:66.66%;}
		.col-lg-9{width:75%;} .col-lg-10{width:83.33%;} .col-lg-11{width:91.66%;} .col-lg-12{width:100%;}
	}
/* Media Queries - For Medium Devices*/
	@media(min-width: 970px) and (max-width: 1169px){
		.col-md-1, .col-md-2, .col-md-3, .col-md-4,	.col-md-5, .col-md-6, .col-md-7,.col-md-8,
		.col-md-9, .col-md-10, .col-md-11, .col-md-12

		{float: left;
		border: 2px solid red;}
		.col-md-1{width:8.33%;} .col-md-2{width:16.66%;} .col-md-3{width:25%;} .col-md-4{width:33.33%;}
		.col-md-5{width:41.66%;} .col-md-6{width:50%;} .col-md-7{width:58.33%;} .col-md-8{width:66.66%;}
		.col-md-9{width:75%;} .col-md-10{width:83.33%;} .col-md-11{width:91.66%;} .col-md-12{width:100%;}
	}
/* Media Queries - For Small Devices*/
	@media(min-width: 640px) and (max-width: 969px){
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,	.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
		.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12

		{float: left;
		border: 2px solid red;}
		.col-sm-1{width:8.33%;} .col-sm-2{width:16.66%;} .col-sm-3{width:25%;} .col-sm-4{width:33.33%;}
		.col-sm-5{width:41.66%;} .col-sm-6{width:50%;} .col-sm-7{width:58.33%;} .col-sm-8{width:66.66%;}
		.col-sm-9{width:75%;} .col-sm-10{width:83.33%;} .col-sm-11{width:91.66%;} .col-sm-12{width:100%;}
	}

	@media only screen and (max-width: 639px)  {
		.col-esm-1, .col-esm-2, .col-esm-3, .col-esm-4,	.col-esm-5, .col-esm-6, .col-esm-7, .col-esm-8,
		.col-esm-9, .col-esm-10, .col-esm-11, .col-esm-12

		{float: left;
		border: 2px solid red;}
		.col-esm-1{width:8.33%;} .col-esm-2{width:16.66%;} .col-esm-3{width:25%;} .col-esm-4{width:33.33%;}
		.col-esm-5{width:41.66%;} .col-esm-6{width:50%;} .col-esm-7{width:58.33%;} .col-esm-8{width:66.66%;}
		.col-esm-9{width:75%;} .col-esm-10{width:83.33%;} .col-esm-11{width:91.66%;} .col-esm-12{width:100%;}
	}
